
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media print {
.page{
   
        break-inside: avoid !important;
      
}
    .eId {
        background: white;
    }
    .head {
        background: black !important;}
}
body {
    -webkit-print-color-adjust: exact !important;
  }
.cards {
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    flex-wrap: wrap;
}
.page{
    width: 210mm;
    height: 297mm;
    display: flex;
    flex-wrap: wrap;
}
.eId {
    text-align: center ;
    margin: .25cm;
    width: 200px;
    height: 6cm;
    font-size: 15px;
    background: white;
    border: 3px solid;
    box-sizing: border-box;
}
.booth{
    background: rgb(204, 196, 196);
    width: max-content;
    padding: 2px 10px;
font-size: 10px;
    margin: auto;
    margin-top: 5px;
    border-radius: 5px;
}
.head {
    background: black;
    color: white;
    padding: 10px;
    
}

.head>:nth-child(1) {
    font-size: 20px;
    font-weight: 900;
}

.cont{
    
    display: grid;
    font-size: 10px;
    line-height: .7;

}
.cont div{
    margin: 3px 0;
}
img {
    width: 80px;
    margin: auto;
    margin-top: 10px;
    box-shadow: 1px 1px 20px -13px;
}
